In [1]:
def removed_duplicates(input_list):
    unique_elements = []
    for item in input_list:
        if item not in unique_elements:
            unique_elements.append(item)
    return unique_elements
input_list = [10,20,10,12,1,2,1,2]
ans = removed_duplicates(input_list)
print(ans)

[10, 20, 12, 1, 2]

In [3]:
input_string = 'akshay THORAT'
vowel_count = 0
vowels ='aeiouAEIOU'
for char in input_string:
    if char in input_string:
        if char in vowels:
            vowel_count+=1
print(vowel_count)

4

In [4]:
def item_count(my_list):
    dict = {}
    for item in my_list:
        if item not in dict:
            dict[item] = 1
        else:
            dict[item]+=1
    return dict
my_list = ['apple','apple']
ans = item_count(my_list)
print(ans)

{'apple': 2}

In [5]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
n = int(input())
fact(n)

5

120

In [7]:
n = 121
t = n
r = 0
while t>0:
    remainder = t%10
    r = (r*10)+remainder
    t = t//10
if n==r:
    print('Pallindrome')
else:
    print('not pallindrome')

Pallindrome

In [ ]:
n = 121
t = n
r = 0
while t > 0:
    remainder = t % 10
    r = (r*10) + remainder
    t = t // 10
if n == r:
    print('pallindre')
else:
    print('not')

In [11]:
s = 'lol'
if s == s[::-1]:
    print('pallindrom')
else:
    print('not')

pallindrom

In [12]:
l =[10,20,1,2,3]
lar = l[0]
small = l[0]
for num in l:
    if num > lar:
        lar = num
    if num < small:
        small = num
print(lar)
print(small)

20
1

In [13]:
def sum(arr):
    sum = 0
    for i in arr:
        sum = sum + i
    return sum
arr = [10,20]
n  = len(arr)
ans = sum(arr)
print(ans)



def sum(arr):
    sum = 0
    for i in arr:
        sum = sum + i
    return sum

30

In [16]:
n  = int(input('Enter prime number:'))
if n<=2:
    print('It is not prime number')
else:
    is_prime =True
    for i in range(2,n):
        if n%i==0:
            is_prime = False
            break
    if is_prime == True:
        print('It is prime')
    else:
        print('Not prime')

Enter prime number:3
It is prime

In [1]:
## Write a program to find the square of the largest element in an array

def find_squared_largest(arr):
    largest = arr[0]
    for i in arr:
        if i > largest:
            largest = i
    return largest**2

array = [10, 5, 8, 20, 3,9,6,32,26]
largest_squared_number = find_squared_largest(array)
print(f"The largest squared number in the list is {largest_squared_number}")

The largest squared number in the list is 1024

In [2]:
def find_squared_largest(arr):
    largest = arr[0]
    for i in arr:
        if i > largest:
            largest = i
    return largest**2
arr = [10,20,30]
largest_squared_number = find_squared_largest(arr)
print(largest_squared_number)

900

In [20]:
##  Write a program to find the number of times a number exists in a list. return in descending order of number of occurrences a number exists.
def count_of_numbers(L):
    d = {}
    for i in L:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    return d

list = [ 8,45,25,6, 11, 29, 42, 25, 14,42,25]
#original sequance of no.of times a number exists 
count_of_numbers = count_of_numbers(list)
print(f'general no.of occurences of a number sequence{count_of_numbers}')
#return the sequence in descending order of its occurrences
count_of_numbers_result = dict(sorted(count_of_numbers.items(), key=lambda i:i[1], 
                                      reverse=True))

general no.of occurences of a number sequence{8: 1, 45: 1, 25: 3, 6: 1, 11: 1, 29: 1, 42: 2, 14: 1}

In [1]:
def find_second_largest_num(arr):
    if len(arr) < 2:
        return "List should have at least two elements"

    unique_arr = list(set(arr))  # Remove duplicates
    res  = unique_arr.sort(reverse=True)   # time complexity is O(nlogn)

    if len(unique_arr)>= 2:
        return unique_arr[1] 
    else:
        "No second-largest number"

array = [2,5,9,3,8,96,25,36,45]
res = find_second_largest_num(array)
print(f"The second-largest number is: {res}")

The second-largest number is: 45

In [2]:
def second_largest_element(arr):
    if len(arr) < 2:
        return "least should have atleast two elements"
    unique_arr = list(set(arr))
    res = unique_arr.sort(reverse = True)
    
    if len(unique_arr) >= 2:
        return unique_arr[1]
    else:
        "No second largest number"
array = [2,5,9,3,8,96,25,36,45]
res = second_largest_element(array)
print(f"The second-largest number is: {res}")

The second-largest number is: 45

In [26]:
##Write a program to count the lower and upper case characters in any text or sentence.
def count_case_characters(sentence):
    upper = 0
    lower = 0

    for char in  sentence:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
    return upper, lower


input_txt = "Hi Welcome to the Wrold of Python programming"
upper, lower = count_case_characters(input_txt)

print(f" given sentence: {input_txt}")
print(f"Uppercase characters count: {upper}")
print(f"Lowercase characters count: {lower}")

 given sentence: Hi Welcome to the Wrold of Python programming
Uppercase characters count: 4
Lowercase characters count: 34

In [19]:
def count_case_characters(sentence):
    upper = 0
    lower = 0
    
    for char in sentence:
        if char.isupper():
            upper = upper + 1
        elif char.islower():
            lower = lower + 1
    return upper,lower

input_text = "Hi Welcome to the Wrold of Python programming"
upper,lower  = count_case_characters(input_text)

print(input_text)
print(upper)
print(lower)

Hi Welcome to the Wrold of Python programming
4
34

In [2]:
def count_case_characters(sentence):
    upper = 0
    lower = 0
    
    for char in sentence:
        if char.isupper():
            upper += 1
        elif char.islower():
            lower += 1
    return upper,lower

input_text = 'HI my Name is Akshay Thorat'
upper,lower = count_case_characters(input_text)

print(input_text)
print(upper)
print(lower)

HI my Name is Akshay Thorat
5
17

In [2]:
# def group_elements(words):
#     sorted_dict = {}
#     for word in words:
#         sorted_word = ''.join(sorted(word))
#         if sorted_word in sorted_dict:
#             sorted_dict[sorted_word].append(word)
#         else:
#             sorted_dict[sorted_word] = [word]
#
#     return list(sorted_dict.values())
#
#
# words = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat']
# print(group_elements(words))

In [4]:
def group_elements(words):
    sorted_dict = {}
    for word in words:
        sorted_word = ''.join(sorted(word))
        if sorted_word in sorted_dict:
            sorted_dict[sorted_word].append(word)
        else:
            sorted_dict[sorted_word] = [word]
    return list(sorted_dict.values())

words = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat']
print(group_elements(words))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [5]:
def group_elements(words):
    sorted_dict = {}
    for word in words:
        sorted_word = ''.join(sorted(word))
        if sorted_word in sorted_dict:
            sorted_dict[sorted_word].append(word)
        else:
            sorted_dict[sorted_word] = [word]
    return list(sorted_dict.values())

words = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat']
print(group_elements(words))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [3]:
def group_elements(words):
    sorted_dict= {}
    for word in words:
        sorted_word = ''.join(sorted(word))
        if sorted_word in sorted_dict:
            sorted_dict[sorted_word].append(word)
        else:
            sorted_dict[sorted_word] = [word]
    return list(sorted_dict.values())

words = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat']
print(group_elements(words))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [11]:
def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1)+fib(n-2)
    
fib(12)

144

In [12]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
    
fact(5)

120

In [13]:
l = [1,23,45]
larg = l[0]
small = l[0]
for num in l:
    if num > larg:
        larg  = num
    if num < small:
        small = num
print(larg)
print(small)

45
1

In [18]:
def sum(arr):
    sum = 0
    for i in arr:
        sum = sum   + i
    return sum
arr = [12,12]
print(sum(arr))

24

In [1]:
SELECT 
  EXTRACT(YEAR FROM transaction_date) AS year,
  Product_id,
  (spend - LAG(spend, 1, 0) OVER (PARTITION BY Product_id ORDER BY transaction_date)) / 
  LAG(spend, 1, 0) OVER (PARTITION BY Product_id ORDER BY transaction_date) * 100 AS yoy_growth
FROM transactions;


SELECT
EXTRACT(YEAR FROM transcation_date) AS year,
Product_id,
(Spend - LAG(spend , 1 , 0) OVER (PARTIOTN BY Product_id ORDER BY transaction_date)) /
LAG(spend , 1 ,0) OVER (partition by product_id order by trans_date)* 100 AS yoy_growh
FROM transactions

IndentationError: unexpected indent (3330389773.py, line 2)

In [2]:
SELECT 
    product_id,
    SUM(sale_amount) AS total_sales
FROM sales
WHERE sale_date >= DATEADD(month, -12, CURRENT_DATE)
GROUP BY product_id;

IndentationError: unexpected indent (3758373512.py, line 2)

In [3]:
 

SELECT
product_id,
SUM(sales_amount) as total_sale
FROM sales
WHERE sale_date >= DATEADD(month,-12,CURRENT_DATE)
GROUP BY product_id;

SyntaxError: invalid syntax (1903766330.py, line 3)

In [4]:
def process_string(s, delimiter=" "):
    # Remove the delimiter, reverse the string, and capitalize it
    cleaned_string = s.replace(delimiter, "")
    reversed_string = cleaned_string[::-1]
    return reversed_string.capitalize()

# Example usage:
print(process_string("hello-world", "-"))
# Output: "Dlrowolleh"

Dlrowolleh

In [5]:
def process_string(s,delimiter = " "):
    cleaned_string  = s.replace(delimiter, "")
    reversed_string = cleaned_string[::-1]
    return reversed_string.capitalize()

print(process_string('hello-world',"-"))

Dlrowolleh

In [6]:
list1 = [10,20,30,40]
list2 = [10,20,30,50]
def common_elements(list1,list2):
    return  list(set(list1) & set(list2))

In [7]:
common_elements(list1,list2)

[10, 20, 30]

In [8]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence[:n]

# Example usage:
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
def fib(n):
    fib_seq = [0,1]
    while len(fib_seq) < n:
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
    return fib_seq[:n]
print(fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [9]:
def fib(n):
    fib_sequence = [0,1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1]+fib_sequence[-2])
    return fib_sequence[:n]

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [10]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [13]:
num = 1234
reversed_num = 0
while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    
    num //= 10
    
print("Reversed Number:" + str(reversed_num))

Reversed Number:4321

In [14]:
import pandas as pd

In [16]:
data = {
    'name' : ['aksshay','manank'],
    'age' : [10,20],
    'city' : ['aurangabad','pune']
    
}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

      name  age        city
0  aksshay   10  aurangabad
1   manank   20        pune

In [1]:
df = pd.read_csv('Sample.csv')

In [2]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,11-08-2020,11-11-2020,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,11-08-2020,11-11-2020,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,06-12-2020,6/16/2020,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,10-11-2019,10/18/2019,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,10-11-2019,10/18/2019,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2018-110422,1/21/2018,1/23/2018,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2021-121258,2/26/2021,03-03-2021,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2021-121258,2/26/2021,03-03-2021,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2021-121258,2/26/2021,03-03-2021,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2021-119914,05-04-2021,05-09-2021,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [24]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', None],
    'Age': [25, None, 35, 40],
    'City': ['New York', 'Los Angeles', None, 'Boston']
})

In [25]:
print(df.isnull())

    Name    Age   City
0  False  False  False
1  False   True  False
2  False  False   True
3   True  False  False

In [28]:
df.isnull().sum()

Name    1
Age     1
City    1
dtype: int64

In [29]:
df.dropna()

    Name   Age      City
0  Alice  25.0  New York

In [30]:
df

      Name   Age         City
0    Alice  25.0     New York
1      Bob   NaN  Los Angeles
2  Charlie  35.0         None
3     None  40.0       Boston

In [6]:
df_filtered = df[df['Age'] > 30]

KeyError: 'Age'

In [7]:
df_filtered

NameError: name 'df_filtered' is not defined

In [8]:
df_grouped  = df.groupby('City')['Age'].mean()

KeyError: 'Column not found: Age'

In [5]:
df_grouped

NameError: name 'df_grouped' is not defined

In [39]:
df_sorted = df.sort_values(by = 'Age',ascending=True)
df_sorted

      Name   Age         City
0    Alice  25.0     New York
2  Charlie  35.0         None
3     None  40.0       Boston
1      Bob   NaN  Los Angeles

In [40]:
df['Age'] = df['Age'].apply(lambda x:x+5)

In [41]:
df

      Name   Age         City
0    Alice  30.0     New York
1      Bob   NaN  Los Angeles
2  Charlie  40.0         None
3     None  45.0       Boston

In [42]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'City': ['New York', 'Los Angeles', 'Chicago']
})

In [43]:
df_merged = pd.merge(df1,df2,on = 'ID',how = 'inner')

In [44]:
df_merged

   ID   Name         City
0   1  Alice     New York
1   2    Bob  Los Angeles

In [45]:
df3 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice'],
    'Age': [25, 30, 35, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York']
})

In [46]:
removed_duplicates = df3.drop_duplicates()

In [47]:
removed_duplicates

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [48]:
df = pd.DataFrame({
    'Date': ['2022-01-01', '2022-02-01', '2022-03-01'],
    'Sales': [100, 200, 300]
})

In [49]:
convert = pd.to_datetime(df['Date'])

In [50]:
convert

0   2022-01-01
1   2022-02-01
2   2022-03-01
Name: Date, dtype: datetime64[ns]

In [51]:
df

         Date  Sales
0  2022-01-01    100
1  2022-02-01    200
2  2022-03-01    300

In [54]:
print(type(df['Date']))

<class 'pandas.core.series.Series'>

In [55]:
df3 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice'],
    'Age': [25, 30, 35, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York']
})

In [1]:
df_renamed = df3.rename(columns = {'name':'Ful lName','Age':'years'})

NameError: name 'df3' is not defined

In [63]:
df_renamed

      Name  years         City
0    Alice     25     New York
1      Bob     30  Los Angeles
2  Charlie     35      Chicago
3    Alice     25     New York

In [64]:
from airflow import DAG
from airlow.operators.python_operator import PythonOperator
from airflow.operators.dummy_operator import DummyOperator
from datetime import date,time

Dag = (
i
)

SyntaxError: unmatched ')' (2014148149.py, line 6)

In [ ]:
n = int(input('Enter number of prime numbers to print:'))  # Takes number of primes to print
count = 0
num = 2  # Start checking from 2

while count < n:
    is_prime = True
    for i in range(2, num // 2 + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)
        count += 1
    num += 1  # Move to the next number

In [3]:
def second_largest_element(arr):
    if len(arr) < 1:
        return "least have two elements"
    unique_arr = list(set(arr))
    res = unique_arr.sort(reverse  = True)
    
    if len(arr) > 2:
        return unique_arr[1]
    
    else:
        return "have least elemenst"
arr = [10,20,30]
print(second_largest_element(arr))

20

In [4]:
a = 15
b = 25
for i in range(1,max(a,b)):
    if a % i == b %i == 0:
        hcf = i
lcm = (a*b)//hcf

print(lcm)

75

In [6]:
l = [1,2,3,5,6,7,8]
for i in range(1,max(l)+2):
    if i not in l:
        print(i)

4
9

In [2]:
l  = [1,2,3,4,6]
for i in range(1,max(l)+1):
    if i not in l:
        print(i)

5

In [2]:
def fib(n):
    p,q = 0,1
    while (p < n):
        yield p
        p,q = q,p+q
x = fib(10)
for i in x:
    print(i)

0
1
1
2
3
5
8